
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" href="./css/style.css">
</head>
<body>
	<section>
		<div>
			<% for(let item of data) { %>
				<h1\>Xush kelibsiz, <span><%= item.signup %></span> </h1>
				<% } %>
			<div>
				<a href="/login">Login</a>
			</div>
			<div class="mt-3">
				<a href="/signup">Sign Up</a>
			</div>
		</div>
	</section>
</body>
</html>