<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign up</title>
	<link rel="stylesheet" href="./css/style.css">
</head>
<body>
	<section>
		<div>
			<form action="/signup" method="POST">
				<h2>Sign up</h2> 
				<% if(error.length){%>
					<div><%= error %></div>
				<% } %>
					<label>
						<input type="text" name="signup" placeholder="Sign Up" required="" maxlength="32" autocomplete="off">
					</label>
					<label>
						<input type="password" name="password" required="" placeholder="Password" minlength="8" autocomplete="off">
					</label>
					<button>Sign up</button>
					<a href="login">login</a>
				</form>
			</div>
		</section>
	</body>
	</html>